 header{
   position: fixed;
   top: 0;
   left: 0;
   background: #2c3e50;
   width: 100%;
   z-index: 3;
 }
 .contenedor_header{
   margin: 0 8%;
   height: 100px;
   align-items: center;
 }
 .contenedor_header-min{
   margin: 0 8%;
   height: 70px;
   align-items: center;
 }
 #textoBootstrap{
   font-size: 35px;
 }

 .contenedor_header a {
   font-size: 14px;
 }
.nav-right {
  width: 26%;
  justify-content: space-between;
}
.nav-right a{
  padding: 5%;
}
.nav-left {
  width: 74%;
}

#start{
  justify-content: center;
  align-items: center;
  height: 645px;
  text-align: center;
  margin-top: 100px;

}
#portfolio{
  align-items: center;
  justify-content: space-around;
  padding: 7% 4%;
}

#about {
  align-items: center;
  padding: 7% 4%;
}

#contact{
  align-content: center;
  justify-content: space-around;
  padding: 7% 4%;
}


footer {
  background: #233140;
}

.img_texto {
  flex-direction: column;
}


.text-presentation p:first-child {
  font-size: 67px;
  line-height: 73px;
}
hr {
  width: 250px;
  border: 0;
  margin: 25px auto 7px;
  border-top: 5px solid;
  text-align: center;
}

.sz-25px {
  font-family: Lato;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
}


/*Portfolio*/
#portfolio, #about, #contact {
  text-align: center;
  font-size: 20px;

}
span, .color{
  color: black;
}

hr, .color{
size:5px;
 color:black;
}


.boton_abrir {
  width: 100%;
  position: relative;
  border-radius: 20px;
}

.boton_abrir:hover {
  border-radius: 20px;
  opacity: 0.2;
  filter: alpha(opacity=50);
}

/*ABOUT*/
.text-about {
  justify-content: center;
}

.text-about p {
  /*font-family: Lato;*/
  font-size: 20px;
  text-align: left;
  line-height: 29px;
  width: 33.33333%;
  padding: 1%;
}
.btn-download {
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  padding: 1%;
  width: 16.3333%
}
.btn-download:hover{
  color: #18bc9c;
  background: #fff;
}

/*CONTACT*/
.form-submit {
  align-items: center;
}
.form-submit div{
  border-top: 1px solid #eee;
  padding: 1.5em 0;
  position: relative;
  width: 60%;
  text-align: center;
}

 label {
  color: #333;
  position: absolute;
  top: 0;
  font-size: .85em;
}

 input, textarea{
  font-size: 21px;
  line-height: 30px;
  color: #555;
  width: 96%;
  border: 0;
  outline-style: none;
}
.form-data textarea {
  height: 200px;
}
.form-submit button {
  padding: 10px 20px;
  line-height: 24px;
  font-size: 18px;
  font-family: Lato;
  border: none;
  border-radius: 5px;
}

/*FOOTER*/
.footer-first-section {
  background: #2c3e50;
  width: 100%;
  padding: 0 10%;
}
.footer-first-section div {
  width: 33.33333%;
  padding: 5% 0;
}

.item {
  text-align: center;
}
.item > span {
  font-size: 24px;
  line-height: 26px;
  display: block;
  padding-bottom: 40px;
}
.item p {
  font-size: 20px;
  font-family: Lato;
  line-height: 29px;
}
.item a {
  margin: 0 2%;
}
.item p a{
  color: #18bc9c;
}

.item p a:hover{
  text-decoration: underline;
}



.footer-second-section {
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footer-second-section span{
  font-size: 14px;
  font-family: Lato;
}
